.Center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Z DI"
"T DI";
}
.Zagol{
    font-size: 80px;
    margin-top: 70px;
    grid-area: Z ;
}
.Text{

    grid-area: T;
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "TX"
    "BN";
}
.Txt{

    background: aliceblue;
    grid-area: TX;
}
.BN{
    background:darkblue;
    grid-area: BN;
}
.Dogimg{
    margin-top: 200px;
    grid-area: DI ;
    align-content: flex-end;
}
